body .mySkin .layui-layer{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 10px;
    padding: 0;
    width: 200px;
}

body .mySkin.layui-layer-dialog{
    border-radius: 6px;
    overflow: hidden;
}

/*body .mySkin .layui-layer-title {*/
    /*border-radius: 4px 4px 0 0;*/
    /*background-color: #6f5f5c;*/
    /*color:#f0e9dc;*/
    /*width: 100    %;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*border: none;*/
/*}*/

body .mySkin .layui-layer-content{
    text-align: center;
    padding: 0 30px 10px 30px;
    background-color: white;
    border-radius: 4px 4px 0 0;
}

body .mySkin .layui-layer-content h1{
    font-family: '微软雅黑',sans-serif;
    font-size: 18px;
    padding: 10px;
}

body .mySkin textarea#remark{
    width: 250px;
}

body .mySkin .layui-layer-content h2{
    padding: 10px;
}

body .mySkin .layui-layer-content p{
    color: #aaa;
}

body .mySkin .layui-layer-btn{
    background-color: white;
    border-radius: 0 0 4px 4px ;
    margin:0;
    padding: 0 0 20px 0;
}

body .mySkin .layui-layer-btn>a{
    border-radius: 4px;
    font-weight: normal;
    text-align: center;
}

body .mySkin .layui-layer-btn>a:hover{
    box-shadow: 999px 0 0 0 rgba(255,255,255,0.2) inset;
}

body .mySkin .layui-layer-btn0{
    border: solid 1px #aaaaaa;
    color: white;
    background-color: rgb(68,157,68);
}

body .mySkin .layui-layer-btn0:hover{
    color: white;
}

body .mySkin .layui-layer-btn1{
    border: solid 1px #aaaaaa;
    color: #444444;
    background-color: rgb(220,220,220);
}

body .mySkin .layui-layer-btn1:hover{
    color: #444444;
}

body .myPhoto.layui-layer-dialog{
    width:800px;
    text-align: center;
}

body .bs.layui-layer{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 10px;
    padding: 0;
    text-align: center !important;
}

body .bs .bs-click{
    cursor: pointer !important;
    background-color: transparent !important;
}

body .bs .bs-click:hover{
    background-color: #f0f0f0 !important;
}